[submodule "CS-564-B-plus-tree"]
	path = B-plus-tree
	url = https://github.com/wuc9521/CS-564-B-plus-tree.git
[submodule "CS-scholars-backend"]
	path = backend
	url = https://github.com/wuc9521/CS-scholars-backend.git
[submodule "B-plus-tree"]
	path = B-plus-tree
	url = https://github.com/wuc9521/CS-564-B-plus-tree.git
[submodule "backend"]
	path = backend
	url = https://github.com/wuc9521/CS-scholars-backend
[submodule "project/backend"]
	path = project/backend
	url = https://github.com/wuc9521/CS-scholars-backend
[submodule "project/frontend"]
	path = project/frontend
	url = https://github.com/ArdaGurcan/cs-scholars-frontend.git
[submodule "project/bptree"]
	path = project/bptree
	url = https://github.com/wuc9521/CS-564-B-plus-tree.git
[submodule "project/docs"]
	path = project/docs
	url = https://github.com/wuc9521/CS-scholars-report.git
